*{
margin: 0;
padding: 0;
}

body{
  background-image: url(../Images/2.PNG);
}

#contentbox{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
width: 100%; 
}

#content{
text-align: left;
width: 20em;
}

/* Position the container */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* Position the main content on the left */
main {
    position: absolute;
    left: 5vw;
    top: 3vh;
    box-sizing: border-box;
    font-size: 1.25vw;
    text-align: center;
}

.header {
    margin-bottom: 5vh;
    color: #c1c1c1;
    font-family: 'Roboto';
}
.subtitle {
    margin-bottom: 2.5vh;
    color: #383838;
    font-family: 'Cairo';
    font-weight: 1000;
    background-color: #c1c1c1;
    width: 310px;
    margin: 2.5vh auto;
    padding: 10px 0 10px 0;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    font-size: 24px;
}
hr.solid {
  background-color: #c1c1c1; 
  height: 1px; 
  margin-bottom: 2.5vh;
  width: 310px;
  margin: 2.5vh auto;
  border: none;
}

/* Position the map on the right */
#map {
    position: fixed; /*I have a fixed position so the map will stay fully on the screen even when scrolling, this allows just for the left hand side of the screen to scroll*/
    width: 70%;
    height: 100vh;
    margin-left: 30vw;
}

h4{
    font-weight: 100;
}

a{
    text-decoration: none;
}

/* Buttons and inputs */

@keyframes bounce {
    0% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
    25% {
      opacity: 0;
      transform: translateX(5px) scale(0.9);
    }
    26% {
      opacity: 0;
      transform: translateX(-5px) scale(0.9);
    }
    55% {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }
  .blinking-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Cairo", sans-serif;
    font-size: 0.90rem;
    font-weight: 600;
    height: 3.125rem;
    padding: 0 1.5625rem;
    margin-bottom: 10px;
    letter-spacing: 0.125rem;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .blinking-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .blinking-button.solid {
    background-color: #c1c1c1;
    color: #383838;
  }
  .blinking-button.solid:hover,
  .blinking-button.solid:focus {
    background-color: #383838;
    color: #c1c1c1;
  }
  .blinking-button.icon .icon {
    color: #f15152;
    font-size: 1rem;
    margin-left: 0.3125rem;
  }
  .blinking-button.icon:hover .icon,
  .blinking-button.icon:focus .icon {
    animation: bounce 1s infinite linear;
  }

/* Searhing town or city styling button */

  .blinking-button.outline {
    color: #c1c1c1;
    border: 1px solid #c1c1c1;
    background-color: transparent;
    width: 150px;
    outline: none;
  }
  .blinking-button.outline:not(.hover):hover,
  .blinking-button.outline:not(.hover):focus {
    color: #c1c1c1;
  }
  .blinking-button.outline:hover::placeholder{
    color: #383838;
  }
  .blinking-button.outline:hover,
  .blinking-button.outline:focus,
  .blinking-button.outline:focus::placeholder {
    background-color: #c1c1c1;
    color: #383838;
  }

  .searchStyle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 310px;
    margin: 0 auto;
  }

  #dateSelect,
  #crimeSelect,
  #fullScreen{
    width: 310px;
  }

  #wide{
    width: 260px;
  }
  
  .crimeDisplay{
    width: 310px;
    font-family: 'Cairo';
    text-transform: uppercase;
    color: white;
    margin: 0 auto;
    font-size: 24px;
    letter-spacing: 0.125rem;
   }

  #crimeCounts {
    font-size: 14px;
    text-align: start;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid transparent; /* Initially set border colour to transparent */
    padding: 5px;
  }
  
  #crimeCounts tr:nth-child(even) {
    color: #c1c1c1;
  }
  
  #crimeCounts tr:nth-child(odd) {
    color: #abdae9;
  }

  .leaflet-popup-content-wrapper {
    color: #000; /*Colour of text*/
    background-color: #fff; /*Colour of background outer*/
  }
  
  .leaflet-popup-content-wrapper .leaflet-popup-content {
    background-color: #fff; /*Colour of background inner*/
  }
  
  .leaflet-popup-tip {
    background-color: #fff; /*Colour of tip*/
  }


  /*MEDIA QUERIES*/

  @media only screen and (max-width: 1400px) {
    #map {
      width: 68%;
      margin-left: 32vw;
    }
    main {
      font-size: 1.35vw;
    }
  }
  @media only screen and (max-width: 1350px) {
    main {
      position: absolute;
      left: 4vw;
      box-sizing: border-box;
      font-size: 1.45vw;
    }
  }
  @media only screen and (max-width: 1250px) {
    main {
      position: absolute;
      left: 3vw;
      box-sizing: border-box;
      font-size: 1.55vw;
    }
  }
  @media only screen and (max-width: 1150px) {
    main {
      position: absolute;
      left: 3vw;
      box-sizing: border-box;
      font-size: 1.75vw;
    }
    #map {
      width: 65%;
      margin-left: 35vw;
    }
  }
  @media only screen and (max-width: 1050px) {
    main {
      position: relative;
      box-sizing: border-box;
      font-size: 25px;
    }
    #map {
      width: 100%;
      margin-left: 0;
      height: 100vh;
    }
    .crimeDisplay{
    margin-bottom: 5vh;
     }
     #selectors{
      display: grid;
      grid-template-columns: 1fr 1fr;
     }
     #fullScreen{
      margin-bottom: 7.5vh;
    }
  }
  @media only screen and (max-width: 675px) {
     #selectors{
      display: grid;
      grid-template-columns: 1fr;
     }
     #fullScreen{
      margin-bottom: 1vh;
    }

  }
  .tableHeader{
    display: block;
    text-align: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
    font-size: 16px;
    font-weight: 1000;
    font-family: 'Cairo';
  }

  .table{
    display: table;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table horizontally */
    border: 1px solid black; /* Border around the whole table */ 
    text-align: center;
    justify-content: center;
    font-family: 'Cairo';
  }

  .popupDiv{
    display: table-row;
    font-weight: bold;
    background-color: rgba(171, 218, 233, 0.5);
  }

  .popupDiv span{
    display: table-cell;
    text-align: center;
    border: 1px solid black; /* Borders around individual cells */
    padding: 5px;
  }

  .popupContentDiv:nth-child(odd){
    display: table-row;
    text-align: center;
    background-color: rgba(171, 218, 233, 0.5);
  }
  .popupContentDiv:nth-child(even){
    display: table-row;
    text-align: center; 
  }

  .popupContentDiv span span {
    display: inline;
    padding: 0;
    border: none;
  }

  .popupContentDiv span{
    display: table-cell;
    text-align: center;
    border: 1px solid black; /* Borders around individual cells */
    padding: 5px
  }
  
  

  
